{% import "global/page/mixins.njk" as mixins %}

<header class="header">

	{% include "blocks/page-nav/page-nav.njk" %}

	<div class="header__logo-wrapper">
		<a class="header__logo" href="index.html" aria-label="Главная страница сайта">
			{{ mixins.img({
				src: "img/header-logo",
				alt:"Логотип Седона",
				media:["1200px", "768px", "320px"],
				type: "vector",
				width: "102",
				height: "85"}) }}
		</a>
	</div>

	{% include "blocks/intro/intro.njk" %}

</header>