@import "../../blocks/page-nav/page-nav.scss";
@import "../../global/scss/mixins.scss";
@import "../../global/scss/variables.scss";


.header {
  position: relative;
}


.header__logo-wrapper {
  display: block;
  text-align: center;
  position: relative;
  height: 56px;
  z-index: 2;
  background-color: $white;

  @include media-tablet {
    background-color: transparent;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -51px;
  }

  @include media-desktop {
    margin-left: -93.5px;
  }
}
