data = [
  {
    "text": "Главная"
  },
  {
    "text": "ФОТО И ВИДЕО"
  },
  {
    "text": "Форма отзыва"
  },
  {
    "text": "HTML academy"
  },
  {
    "text": "Оставьте свой отзывПомогите нашим отелям стать лучше! оставьте отзыв о них,а также о посещенных вами достопримечательностях"
  },
  {
    "text": "ВАше Общее впечатление:"
  },
  {
    "text": "Представьтесь:"
  },
  {
    "text": "Скорее положительное"
  },
  {
    "text": "Петр"
  },
  {
    "text": "ИМЯ*:"
  },
  {
    "text": "Скорее отрицательное"
  },
  {
    "text": "Иванов"
  },
  {
    "text": "ФАМИЛИЯ*:"
  },
  {
    "text": "Затрудняюсь ответить"
  },
  {
    "text": "Александрович"
  },
  {
    "text": "Отчество:"
  },
  {
    "text": "Контактная информация:"
  },
  {
    "text": "Введите телефон"
  },
  {
    "text": "Введите e-mail"
  },
  {
    "text": "Телефон*:"
  },
  {
    "text": "Электронная почта*:"
  },
  {
    "text": "посещенные достопримечательности:"
  },
  {
    "text": "Мост Дьявола"
  },
  {
    "text": "Гора-Колокол"
  },
  {
    "text": "Слайд-парк"
  },
  {
    "text": "Красные скалы"
  },
  {
    "text": "Опишите свои эмоции:"
  },
  {
    "text": "Опишите подробно все свои восторги "
  },
  {
    "text": "ОТПРАВИТЬ ОТЗЫВ"
  },
  {
    "text": "* — обязательные поля"
  },
  {
    "text": "Разработано"
  },
  {
    "text": "#visitSEDONA"
  }
]
