
.feedback-form__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.feedback-form__fieldset {
	display: flex;
	flex-direction: column;
  max-width: 371px;
  margin: 0 auto;
	padding: 0;
	border: 0;


}


.feedback-form__legend {
	margin: 0 auto;
	margin-bottom: 19px;
	font-size: $fs-18;
	font-weight: $fw-700;

	@include media-tablet {
		margin-bottom: 54px;
		font-size: $fs-21;
	}
}

.feedback-form__field-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}


.feedback-form__field-text {
	padding: 18px 22px;
	background-color: $concrete;
	font-size: $fs-18;
	font-weight: $fw-700;
	border: none;

	&:hover {
		background-color: $mercury-5;
	}

	&:focus {
		outline: none;
		padding: 14px 18px;
		background: $white;
		border: 4px solid $mercury-5;
	}
}




// .feedback-form {
// 	padding-top: 36px;
// 	position: relative;
// 	background-color: $white;

// 	@include media-tablet {
// 		padding-top: 70px;
// 	}

// 	@include media-desktop {
// 		padding-top: 113px;
// 	}
// }

// .feedback-form__title {
// 	margin: 0;
// 	margin-bottom: 35px;
// 	font-size: $fs-18;
// 	text-align: center;

// 	@include media-tablet {
// 		font-size: $fs-30;
// 	}
// }

// .feedback-form__text {
// 	max-width: 306px;
// 	margin: 0 auto;
// 	margin-bottom: 16px;
// 	line-height: $lh-24;
// 	color: $mine-shaft;
// 	text-align: center;

// 	@include media-tablet {
// 		margin-bottom: 75px;
// 		max-width: 435px;
// 	}

// 	@include media-desktop {
// 		margin-bottom: 55px;
// 	}
// }

// .feedback-form__form {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// }

// .feedback-form__fieldset__wrapper-line {
//   width: 100%;
//   position: relative;
//   padding-top: 20px;
//   padding-bottom: 25px;

//   &::after,
//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 1px;
//     background-color: $mercury-5;
//   }


//   &::after {
//     bottom: 0;
//   }
// }

// .feedback-form__fieldset__wrapper-line--none {
//   &::after {
//     display: none;
//   }
// }

// .feedback-form__fieldset {
// 	display: flex;
// 	flex-direction: column;
//   max-width: 371px;
//   margin: 0 auto;
// 	padding: 0;
// 	align-items: center;
// 	border: 0;
// }

// .feedback-form__text-label {
//   margin-top: 19px;
// 	color: $mine-shaft;

//   @include media-tablet {
//     margin-top: 54px;
//   }
// }

// .feedback-form__radio-label,
// .feedback-form__checkbox-label {
// 	font-size: $fs-18;
// 	font-weight: $fw-700;
// }

// .feedback-form__legend {
// 	margin: 0 auto;
// 	font-size: $fs-18;
// 	font-weight: $fw-700;
// 	text-align: center;

// 	@include media-tablet {
// 		font-size: $fs-21;
// 	}
// }

// .feedback-form__fieldset textarea,
// .feedback-form__fieldset input {
// 	padding: 18px 22px;
// 	background-color: $concrete;
// 	font-size: $fs-18;
// 	font-weight: $fw-700;
// 	border: none;

// 	&:hover {
// 		background-color: $mercury-5;
// 	}

// 	&:focus {
// 		outline: none;
// 		padding: 14px 18px;
// 		background: $white;
// 		border: 4px solid $mercury-5;
// 	}
// }

// .feedback-form__fieldset textarea::placeholder,
// .feedback-form__fieldset input::placeholder {
// 	color: $black;
// 	opacity: 1;
// }

// .feedback-form__user-fullname label {
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	width: 100%;
// }

// .feedback-form__user-fullname input {
// 	margin-left: 18px;
// 	width: 100%;
// }


