.feedback-form__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.feedback-form__list-item {
	position: relative;
	padding: 0 20px;

	padding-top: 20px;
	padding-bottom: 25px;

	&::after,
	&::before {
		content: "";
		top: 0;
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: $mercury-5;
	}

	&::after {
		bottom: 0;
	}

	&:not(:last-child)::after {
		display: none;
	}
}

.feedback-form__fieldset {
	display: flex;
	flex-direction: column;
	max-width: 371px;
	margin: 0 auto;
	padding: 0;
	border: 0;
}

.feedback-form__legend {
	margin: 0 auto;
	margin-bottom: 19px;
	font-size: $fs-18;
	font-weight: $fw-700;

	@include media-tablet {
		margin-bottom: 54px;
		font-size: $fs-21;
	}
}

.feedback-form__field-wrapper {
	position: relative;
	display: flex;
	margin-bottom: 20px;
	align-items: center;

	@include media-tablet {
		margin-bottom: 20px;
	}
}

.feedback-form__field-text {
	width: 100%;
	padding: 18px 22px;
	background-color: $concrete;
	font-size: $fs-18;
	font-weight: $fw-700;
	border: none;

	&:hover {
		background-color: $mercury-5;
	}

	&:focus {
		outline: none;
		padding: 14px 18px;
		background: $white;
		border: 4px solid $mercury-5;
	}
}

.feedback-form__field-text::placeholder {
	opacity: 1;
}

.feedback-form__user-fullname label {
	margin-right: 13px;
}

.feedback-form__user-contacts label {
	padding-left: 22px;
	margin-bottom: 8px;
}

.feedback-form__icon-wrapper {
	position: absolute;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 58px;
	height: 100%;

	background-color: $mercury-6;
}

/*
	radio style
*/
.feedback-form__radio-label {
	position: relative;
	display: inline-block;
	padding-left: 74px;
	margin-bottom: 41px;
	cursor: pointer;
}

.feedback-form__input-radio {
	display: none;
}

.feedback-form__radio-icon {
	position: absolute;
	left: 0;
	top: -12px;
	width: 18px;
	height: 18px;
	border: 15px solid $concrete;
	border-radius: 50%;
	background-color: $concrete;
	cursor: pointer;

	transition: background-color 0.5s;

	&:focus .feedback-form__radio-icon,
	&:hover .feedback-form__radio-icon {
		background-color: $mercury-5;
	}
}

.feedback-form__input-radio:checked + .feedback-form__radio-icon {
	background-color: $mine-shaft;
}

// .check__input:checked + * .check__square {
// 	fill: #4a90e2;
// }

// .check__input:focus + * .check__focus {
// 	fill: #7ed321;
// }

// .check__input:disabled + * .check__square {
// 	stroke: #9b9b9b;
// }

// .check__input:checked:disabled + * .check__square {
// 	fill: #9b9b9b;
// }

/*
	radio style
*/
