{% extends "global/page/layout.njk" %}
{% set metaDescription = "Главная страница тура в Седону" %}
{% set title = "Главная страница Sedona" %}
{% set classPage = "index" %}

{% block content %}
  <main class="main">
    <h1 class="visually-hidden">Главная страница сайта Седона</h1>

    {% include "blocks/advantages/advantages.njk" %}

    {% include "blocks/search-hotel/search-hotel.njk" %}

  </main>
{% endblock %}
