.advantages-num {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 39px;
	padding-bottom: 35px;
	background-color: $half-baked;
	text-align: center;
	color: $white;

	@include media-tablet {
		flex-basis: 33%;
		padding: 0;
		padding-top: 43px;
		// width: 33%;
	}

	@include media-desktop {
		padding-top: 47px;
	}
}

.advantages-num__title {
	margin: 0;
	margin-bottom: 13px;

	@include media-tablet {
		margin-bottom: 9px;
		max-width: 192px;
		font-size: $fs-21;
	}
}

.advantages-num__text {
	max-width: 294px;
	margin: 0;
	@include media-tablet {
		max-width: 192px;
	}

	@include media-desktop {
		max-width: 236px;
	}
}

.advantages-num__text--num {
	margin-bottom: 21px;

	@include media-tablet {
		margin-bottom: 17px;
	}
}

.advantages-num--grey {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: $gallery-14;
	flex-grow: 1;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 10%;
		width: 80%;
		height: 1px;
		background-color: $alto-6;
	}

	@include media-tablet {
		padding-top: 41px;
		padding-bottom: 41px;
	}
}

.advantages-num--grey {
	.advantages-num__title {
		@include media-tablet {
			max-width: 161px;
		}
	}

	.advantages-num__text {
		max-width: 258px;

		@include media-tablet {
			max-width: 179px;
		}

		@include media-desktop {
			max-width: 315px;
		}
	}
}

.advantages-num--grey .advantages-num__title {
	color: $black;
}

.advantages-num--grey .advantages-num__text {
	color: $mine-shaft;
}

.advantages-num--tringle {
	padding-top: 71px;
	padding-bottom: 39px;
	background-image: url("../img/triangle-bottom.png");
	background-position: top;
	background-repeat: no-repeat;

	@include media-tablet {
		background-image: none;
		padding-top: 39px;
		padding-bottom: 35px;
	}
}
