
{% macro value(args) %}
  <{{ args.tag }}
    class="advantages-num {{ args.class }}">
    <h2 class="advantages-num__title">
      {{ args.title }}
    </h2>
    <p class="advantages-num__text advantages-num__text--num">
      {{ args.num }}
    </p>
    <p class="advantages-num__text">
      {{ args.text }}
    </p>
  </{{ args.tag }}> 
{% endmacro %}