let data = [
	{
    "text": "настоящийгородок— №1 —седона не аттракцион для туристов, там течет своя жизнь"
  },
  {
    "text": "там есть мост дьявола— №2 —да, по нему можно пройти! если вы осмелитесь, конечно"
  },
  {
    "text": "красиваядорога— №4 —ехать в седону из лас-вегаса совсем не скучно!"
  },
  {
    "text": "небольшаяплощадь— №3 —все интересные места находятся очень близко"
  },
  {
    "text": "малотуристов— №5 —большинство едет в гранд каньон и толпится там"
  },
]
