@import "../../global/scss/variables.scss";
@import "../../global/scss/mixins.scss";

.intro {
	position: relative;
	z-index: 1;
}

.intro__bg {
	width: 100%;
	object-fit: cover;

	height: 389px;

	@include media-tablet {
		height: 518px;
	}
}

.intro__svg-text {
	position: absolute;
	top: 0;
	left: 0;
	height: 214px;
	transform: translateY(41%);

	@include media-tablet {
		height: 376px;
		transform: translateY(19%);
	}
}

.intro--inner .intro__bg {
	height: 158px;

	@include media-tablet {
		height: 301px;
	}
}

.intro--inner .intro__svg-text {
	height: 39px;
	transform: translateY(152%);

	@include media-tablet {
		height: 78px;
		transform: translateY(125%);
	}
}
