{% import "global/page/mixins.njk" as mixins %}

{% if classPage != "index" %}
  {% set innerClass = "intro--inner" %}
{% endif %}

<section class="intro {{ innerClass }}">

  {{ mixins.img({
    class: "intro__bg",
    src: "img/intro-bg",
    alt:"Фотография гор Sedona",
    media:["768px", "320px"],
    type: "raster",
    width: "901",
    height: "389"}) }}

    {% if classPage == "index" %}
      <img
        class="intro__svg-text"
        src="img/intro-logo.svg"
        width="282"
        height="214"
        alt="Добро пожаловать в Седану">
    {% else %}
      <img
        class="intro__svg-text"
        src="img/intro-logo-inner-page.svg"
        width="229"
        height="39"
        alt="Добро пожаловать в Седану">
    {% endif %}
  
</section>