
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

{# {% include "../pages/media/test.njk" %} #}
{# {% import "../pages/media/test.njk" as test %} #}
{# {% include "/home/bogeyman/projects/sedona/source/global/page/mixins.njk" %} #}
{# {% include "/home/bogeyman/projects/sedona/source/pages/media/test.njk" %}  #}

{# {{ test.label("ee") }}
{{ test.field("ee") }} #}
{# {{ forms.label('Username') }} #}

    {# //   path: ['./source/pages/**/*.{njk,html}', './source/global/page/*.{njk,html}'] #}
    {% include "global/page/layout.njk" %}
</body>
</html>

