let data = [
  {
    "text": "едавсегда заказывайте фирменный бургер,вы не разочаруетесь!"
  },
  {
    "text": "сувенирыне только китайского, но и местного производства!"
  },
  {
    "text": "жильерекомендуем пожить в настоящем мотеле, все как в кино!"
  },
]
