

.advantages-icon {
  padding-left: 49px;
  margin: 0 auto;
  margin-bottom: 26px;
	display: flex;
  max-width: 62%;
}

.advantages-icon__icon {
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  left: -49px;
  top: -10px;
}

.advantages-icon__title {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  font-size: $fs-18;
}

.advantages-icon__text {
  margin: 0;
  font-size: $fs-14;
  color: $mine-shaft;
}

#icon-burger {
  width: 40px;
  height: 34px;

  @include media-tablet {
    width: 76px;
    height: 67px;
  }
}

#icon-gift {
  height: 32px;
  width: 38px;

  @include media-tablet {
    width: 64px;
    height: 75px;
  }
}

#icon-home {
  width: 39px;
  height: 36px;

  @include media-tablet {
    width: 75px;
    height: 72px;
  }
}