@import "../../global/scss/mixins.scss";

.advantages {
	padding-top: 43px;
}

.advantages__section-title {
	padding: 0 6.25%;
	font-size: $fs-18;
	line-height: $lh-26;
	font-weight: 700;
	text-align: center;

	@include media-tablet {
		padding: 0 25.25%;
	}

	@include media-desktop {
		padding: 0 28.25%;
	}
}

.advantages__section-text {
	padding: 0 6.25%;
	margin-bottom: 11px;
	position: relative;
	line-height: $lh-26;
	color: $mine-shaft;
	text-align: center;

	@include media-tablet {
		margin-bottom: 52px;
	}

	@include media-desktop {
		margin-bottom: 41px;
	}
}

.advantages__wrapper {
	@include media-tablet {
		display: flex;
	}
}

.advantages__wrapper--reverse {
	@include media-tablet {
		flex-direction: row-reverse;
	}
}


.advantages__wrapper picture {
	flex-basis: 67%;
}

.advantages__wrapper img {
	width: 100%;
	height: 260px;
	object-fit: cover;

	@include media-tablet {
		height: 256px;
	}
}
