{% extends "global/page/layout.njk" %}

{% set classPage = "inner" %}
{% set title = "Оставьте свой отзыв" %}
{% set metaDescription = "Страница с формой обратной связи" %}


{% block content %}
  <main class="main">
    {% include "blocks/feedback/feedback.njk" %}
  </main>
{% endblock %}