{% import "blocks/burger-ico/burger-ico.njk" as burgerIcon %}

{%
	set data = [
		{ "text": "главная",			link: "index.html" },
		{ "text": "фото и видео", link: "media.html" },
		{	"text": "форма отзыва",	link: "form.html" },
		{	"text": "html academy",	link: "htmlacademy.ru" }
	]
%}

<nav class="page-nav">

	{{ burgerIcon.value('nav_toggle') }}


	<ul class="page-nav__list">
		{% for item in data %}
			<li class="page-nav__item">
				<a href="{{ item.link }}">
					{{ item.text }}	
				</a>
			</li>
		{% endfor %}		
	</ul>
</nav>
