{% import "blocks/burger-ico/burger-ico.njk" as burgerIcon %}
{% import "blocks/button/button.njk" as button %}

{%
	set data = [
		{ "text": "главная",			link: "index.html" },
		{ "text": "фото и видео", link: "media.html" },
		{	"text": "форма отзыва",	link: "form.html" },
		{	"text": "html academy",	link: "htmlacademy.ru" }
	]
%}

<nav class="page-nav">

	{{ burgerIcon.value('page-nav__toggle') }}

	<ul class="page-nav__list">
		{% for item in data %}
			<li class="page-nav__item">
				{{ button.value("a", item.text, "", item.link) }}
			</li>
		{% endfor %}		
	</ul>
</nav>
