//colors
$mercury-5: #e5e5e5;//
$mercury-6: #e6e6e6;//
$concrete: #f2f2f2;//
$half-baked: #81b3d2;//
$alto-5: #d5d5d5;//
$alto-6: #d6d6d6;//
$alto-11: #dbdbdb;//
$gallery-10: #eaeaea;//
$gallery-14: #eeeeee;//
$fountain-blue: #669ec0;//
$steel-blue: #5496bd;//
$black: #000000;//
$swamp: #000101;
$mine-shaft: #333333;//
$white: #ffffff;//
$red: #ff0000;//
$bright: #af0000;//
$pine: #756256;//
$kabul: #604d42;//


//fonts
// $pt-sans: "PT Sans", Arial, sans-serif;
// $open-sans: "Open Sans", Arial, sans-serif;
$fw-700: 700;
$fw-400: 400;

$fs-18: 18px;
$fs-14: 14px;
$fs-21: 21px;
$fs-30: 30px;
 
$lh-24: 24px;
$lh-26: 26px;
$lh-40: 40px;
